{% extends 'VdvreedeTFrontendBundle::layout.html.twig' %}
{% block content %}

{% render "VdvreedeTFrontendBundle:Account:myAccounts" with { 'current' : account } %}

<h1>Transaction list</h1>

<form action="" method="post">
<div id="actions">
    {{ form_widget(form) }}
    <input type="submit" value="Go" />
</div>
    <table>
        <thead>
        <th></th>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Account</th>
        <th>Category</th>
        </thead>
        <tbody>
        {% for entity in entities %}
                <tr>
                    <td><input type="checkbox" name="trans_id[]" value="{{ entity.id }}" /></td>
                    <td>{{ entity.datestring }}</td>
                    <td>{{ entity.description }} </td>
                    <td>{{ entity.amount }}</td>
                    <td>{{ entity.account }}</td>
                    <td>{{ entity.category }}</td>
                </tr>
         {% endfor %}
            </tbody>
        </table>
    </form>

{% include 'VdvreedeTFrontendBundle::paginator.html.twig' with {
'paginator' : paginator,
'item_type' : 'transaction'
} %}

    <ul>
        <li>
            <a href="{{ path('transaction_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}