<form action="{{ path('account_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.type) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>